@{
    ViewData["Title"] = "Home Page";
}
<div class="col-lg-3 col-sm-6">
	<img style="max-width:1100px; margin-top: -7px;"
	     src="~/images/SystemMap.svg" />
</div>
<h4>Techniques</h4>
<h3>"Backend"</h3>
<a>MVC Project (Model View Controller).</a>

<h3>Frontend</h3>
<a>HTML page using the css library bootstrap. The css library makes it easier since many html tags are already predefined in bootstrap. I.e everything doesn't have to be written from scratch.</a>
